.group{
        margin-top:30px;
        margin-bottom:30px;
    }
    table {
    border-collapse: collapse;
    }
    table, table th, table td{
        border:1px solid black;
    }
    table th, table td{
        padding:3px;
    }
    
    .success{
        color:green;
    }
    .error{
        color:red;
    }